In [1]:
from pymongo import MongoClient

In [2]:
uri = "mongodb+srv://rishavmishrarkm:1234@cluster0.vnazz5h.mongodb.net/?retryWrites=true&w=majority"
client = MongoClient(uri)

In [3]:
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [4]:
client.list_database_names()

['mydatabase', 'admin', 'local']

In [5]:
#this is my database
mydb=client["mydatabase"]

In [6]:
#collection
mycol=mydb["myfirstcollection"]

In [7]:
myfirstrecord={"fname":"rishav","lname":"mishra","address":"new delhi"}

In [8]:
myfirstrecord

{'fname': 'rishav', 'lname': 'mishra', 'address': 'new delhi'}

In [9]:
# here i can insert the record into the mongodb
mycol.insert_one(myfirstrecord)

In [10]:
mysecondrecord={"fname":"subham","lname":"mishra","address":"delhi"}

In [11]:
mycol.insert_one(mysecondrecord)

In [12]:
mythridrecord={"fname":"krish","lname":"naik","address":"bengaluru urban","sal":100000}

In [13]:
x=mycol.insert_one(mythridrecord)

In [14]:
multiplerecords=[
    
    {"fname":"kri","lname":"naik1","address":"bengaluru urban  city","sal":1000000},
    {"fname":"santosh","lname":"naik","address":"mumbai urban","sal":1000},
    {"fname":"sudh","lname":"kumar","address":"bengaluru-urban","sal":500000},
    {"fname":"vikas","lname":"singh","address":"delhi","sal":80000}
]

In [15]:
mycol.insert_many(multiplerecords).inserted_ids

[ObjectId('64eb4fe59d868268cdfaf147'),
 ObjectId('64eb4fe59d868268cdfaf148'),
 ObjectId('64eb4fe59d868268cdfaf149'),
 ObjectId('64eb4fe59d868268cdfaf14a')]

In [16]:
multiplerecords=[
    
    {"_id":1,"fname":"ravi","lname":"kishan","address":"bihar","sal":1000000},
    {"_id":2,"fname":"manoj","lname":"kumar","address":"delhi urban","sal":1000},
   
]

In [17]:
mycol.insert_many(multiplerecords)

In [18]:
mycol.find_one()

{'_id': ObjectId('64eb4fde9d868268cdfaf144'),
 'fname': 'rishav',
 'lname': 'mishra',
 'address': 'new delhi'}

In [19]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('64eb4fde9d868268cdfaf144'), 'fname': 'rishav', 'lname': 'mishra', 'address': 'new delhi'}
{'_id': ObjectId('64eb4fe09d868268cdfaf145'), 'fname': 'subham', 'lname': 'mishra', 'address': 'delhi'}
{'_id': ObjectId('64eb4fe39d868268cdfaf146'), 'fname': 'krish', 'lname': 'naik', 'address': 'bengaluru urban', 'sal': 100000}
{'_id': ObjectId('64eb4fe59d868268cdfaf147'), 'fname': 'kri', 'lname': 'naik1', 'address': 'bengaluru urban  city', 'sal': 1000000}
{'_id': ObjectId('64eb4fe59d868268cdfaf148'), 'fname': 'santosh', 'lname': 'naik', 'address': 'mumbai urban', 'sal': 1000}
{'_id': ObjectId('64eb4fe59d868268cdfaf149'), 'fname': 'sudh', 'lname': 'kumar', 'address': 'bengaluru-urban', 'sal': 500000}
{'_id': ObjectId('64eb4fe59d868268cdfaf14a'), 'fname': 'vikas', 'lname': 'singh', 'address': 'delhi', 'sal': 80000}
{'_id': 1, 'fname': 'ravi', 'lname': 'kishan', 'address': 'bihar', 'sal': 1000000}
{'_id': 2, 'fname': 'manoj', 'lname': 'kumar', 'address': 'delhi urban', 'sal': 1000}

In [20]:
mycol.find_one({"fname":"krish"})

{'_id': ObjectId('64eb4fe39d868268cdfaf146'),
 'fname': 'krish',
 'lname': 'naik',
 'address': 'bengaluru urban',
 'sal': 100000}

In [21]:
for x in mycol.find({"address":"bengaluru"}):
    print(x)

In [22]:
for x in mycol.find().sort("fname"):
    print(x)

{'_id': ObjectId('64eb4fe59d868268cdfaf147'), 'fname': 'kri', 'lname': 'naik1', 'address': 'bengaluru urban  city', 'sal': 1000000}
{'_id': ObjectId('64eb4fe39d868268cdfaf146'), 'fname': 'krish', 'lname': 'naik', 'address': 'bengaluru urban', 'sal': 100000}
{'_id': 2, 'fname': 'manoj', 'lname': 'kumar', 'address': 'delhi urban', 'sal': 1000}
{'_id': 1, 'fname': 'ravi', 'lname': 'kishan', 'address': 'bihar', 'sal': 1000000}
{'_id': ObjectId('64eb4fde9d868268cdfaf144'), 'fname': 'rishav', 'lname': 'mishra', 'address': 'new delhi'}
{'_id': ObjectId('64eb4fe59d868268cdfaf148'), 'fname': 'santosh', 'lname': 'naik', 'address': 'mumbai urban', 'sal': 1000}
{'_id': ObjectId('64eb4fe09d868268cdfaf145'), 'fname': 'subham', 'lname': 'mishra', 'address': 'delhi'}
{'_id': ObjectId('64eb4fe59d868268cdfaf149'), 'fname': 'sudh', 'lname': 'kumar', 'address': 'bengaluru-urban', 'sal': 500000}
{'_id': ObjectId('64eb4fe59d868268cdfaf14a'), 'fname': 'vikas', 'lname': 'singh', 'address': 'delhi', 'sal': 80000}

In [23]:
for x in mycol.find().sort("fname",-1):
    print(x)

{'_id': ObjectId('64eb4fe59d868268cdfaf14a'), 'fname': 'vikas', 'lname': 'singh', 'address': 'delhi', 'sal': 80000}
{'_id': ObjectId('64eb4fe59d868268cdfaf149'), 'fname': 'sudh', 'lname': 'kumar', 'address': 'bengaluru-urban', 'sal': 500000}
{'_id': ObjectId('64eb4fe09d868268cdfaf145'), 'fname': 'subham', 'lname': 'mishra', 'address': 'delhi'}
{'_id': ObjectId('64eb4fe59d868268cdfaf148'), 'fname': 'santosh', 'lname': 'naik', 'address': 'mumbai urban', 'sal': 1000}
{'_id': ObjectId('64eb4fde9d868268cdfaf144'), 'fname': 'rishav', 'lname': 'mishra', 'address': 'new delhi'}
{'_id': 1, 'fname': 'ravi', 'lname': 'kishan', 'address': 'bihar', 'sal': 1000000}
{'_id': 2, 'fname': 'manoj', 'lname': 'kumar', 'address': 'delhi urban', 'sal': 1000}
{'_id': ObjectId('64eb4fe39d868268cdfaf146'), 'fname': 'krish', 'lname': 'naik', 'address': 'bengaluru urban', 'sal': 100000}
{'_id': ObjectId('64eb4fe59d868268cdfaf147'), 'fname': 'kri', 'lname': 'naik1', 'address': 'bengaluru urban  city', 'sal': 1000000}

In [24]:
mycol.delete_one({"fname":"vikas"})

In [25]:
for x in mycol.find().sort("fname",-1):
    print(x)

{'_id': ObjectId('64eb4fe59d868268cdfaf149'), 'fname': 'sudh', 'lname': 'kumar', 'address': 'bengaluru-urban', 'sal': 500000}
{'_id': ObjectId('64eb4fe09d868268cdfaf145'), 'fname': 'subham', 'lname': 'mishra', 'address': 'delhi'}
{'_id': ObjectId('64eb4fe59d868268cdfaf148'), 'fname': 'santosh', 'lname': 'naik', 'address': 'mumbai urban', 'sal': 1000}
{'_id': ObjectId('64eb4fde9d868268cdfaf144'), 'fname': 'rishav', 'lname': 'mishra', 'address': 'new delhi'}
{'_id': 1, 'fname': 'ravi', 'lname': 'kishan', 'address': 'bihar', 'sal': 1000000}
{'_id': 2, 'fname': 'manoj', 'lname': 'kumar', 'address': 'delhi urban', 'sal': 1000}
{'_id': ObjectId('64eb4fe39d868268cdfaf146'), 'fname': 'krish', 'lname': 'naik', 'address': 'bengaluru urban', 'sal': 100000}
{'_id': ObjectId('64eb4fe59d868268cdfaf147'), 'fname': 'kri', 'lname': 'naik1', 'address': 'bengaluru urban  city', 'sal': 1000000}

In [26]:
for x in mycol.find().limit(4):
    print(x)

{'_id': ObjectId('64eb4fde9d868268cdfaf144'), 'fname': 'rishav', 'lname': 'mishra', 'address': 'new delhi'}
{'_id': ObjectId('64eb4fe09d868268cdfaf145'), 'fname': 'subham', 'lname': 'mishra', 'address': 'delhi'}
{'_id': ObjectId('64eb4fe39d868268cdfaf146'), 'fname': 'krish', 'lname': 'naik', 'address': 'bengaluru urban', 'sal': 100000}
{'_id': ObjectId('64eb4fe59d868268cdfaf147'), 'fname': 'kri', 'lname': 'naik1', 'address': 'bengaluru urban  city', 'sal': 1000000}

In [27]:
myquery={"fname":"sunny"}
newvalue={"$set":{"fname":"mohit"}}

In [28]:
mycol.update_one(myquery,newvalue)

In [29]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('64eb4fde9d868268cdfaf144'), 'fname': 'rishav', 'lname': 'mishra', 'address': 'new delhi'}
{'_id': ObjectId('64eb4fe09d868268cdfaf145'), 'fname': 'subham', 'lname': 'mishra', 'address': 'delhi'}
{'_id': ObjectId('64eb4fe39d868268cdfaf146'), 'fname': 'krish', 'lname': 'naik', 'address': 'bengaluru urban', 'sal': 100000}
{'_id': ObjectId('64eb4fe59d868268cdfaf147'), 'fname': 'kri', 'lname': 'naik1', 'address': 'bengaluru urban  city', 'sal': 1000000}
{'_id': ObjectId('64eb4fe59d868268cdfaf148'), 'fname': 'santosh', 'lname': 'naik', 'address': 'mumbai urban', 'sal': 1000}
{'_id': ObjectId('64eb4fe59d868268cdfaf149'), 'fname': 'sudh', 'lname': 'kumar', 'address': 'bengaluru-urban', 'sal': 500000}
{'_id': 1, 'fname': 'ravi', 'lname': 'kishan', 'address': 'bihar', 'sal': 1000000}
{'_id': 2, 'fname': 'manoj', 'lname': 'kumar', 'address': 'delhi urban', 'sal': 1000}

In [30]:
mycol.update_one({"lname":"savita"},{"$set":{"lname":"bhargav"}})

In [31]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('64eb4fde9d868268cdfaf144'), 'fname': 'rishav', 'lname': 'mishra', 'address': 'new delhi'}
{'_id': ObjectId('64eb4fe09d868268cdfaf145'), 'fname': 'subham', 'lname': 'mishra', 'address': 'delhi'}
{'_id': ObjectId('64eb4fe39d868268cdfaf146'), 'fname': 'krish', 'lname': 'naik', 'address': 'bengaluru urban', 'sal': 100000}
{'_id': ObjectId('64eb4fe59d868268cdfaf147'), 'fname': 'kri', 'lname': 'naik1', 'address': 'bengaluru urban  city', 'sal': 1000000}
{'_id': ObjectId('64eb4fe59d868268cdfaf148'), 'fname': 'santosh', 'lname': 'naik', 'address': 'mumbai urban', 'sal': 1000}
{'_id': ObjectId('64eb4fe59d868268cdfaf149'), 'fname': 'sudh', 'lname': 'kumar', 'address': 'bengaluru-urban', 'sal': 500000}
{'_id': 1, 'fname': 'ravi', 'lname': 'kishan', 'address': 'bihar', 'sal': 1000000}
{'_id': 2, 'fname': 'manoj', 'lname': 'kumar', 'address': 'delhi urban', 'sal': 1000}

In [32]:
for x in mycol.find({"sal":{"$lt":100000}}):
    print(x)

{'_id': ObjectId('64eb4fe59d868268cdfaf148'), 'fname': 'santosh', 'lname': 'naik', 'address': 'mumbai urban', 'sal': 1000}
{'_id': 2, 'fname': 'manoj', 'lname': 'kumar', 'address': 'delhi urban', 'sal': 1000}

In [33]:
mycol.delete_many({})

In [34]:
for x in mycol.find():
    print(x)